<div fxLayout="row wrap">
  <h3 fxFlex="100">
    {{ 'user.title' | translate }}
  </h3>

  <mat-chip-list
    [attr.aria-label]="'user.status' | translate"
    *ngIf="userStatus$ | async as status"
  >
    <mat-chip [color]="status.initialized ? 'primary' : 'warn'" [disabled]="true" [selected]="true">
      <mat-icon>verified_user</mat-icon>
      &nbsp;
      {{ 'user.initialized' | translate }}
    </mat-chip>

    <mat-chip
      [color]="status.encryption ? 'primary' : 'warn'"
      selectable="false"
      [disabled]="status.encryption"
      [selected]="true"
      (click)="generateKeypair(status.encryption)"
    >
      <mat-icon>enhanced_encryption</mat-icon>
      &nbsp;
      {{ 'user.encryption' | translate }}
    </mat-chip>

    <mat-chip [color]="status.passwords ? 'primary' : 'warn'" [disabled]="true" [selected]="true">
      <mat-icon>bookmarks</mat-icon>
      &nbsp;
      {{ 'passwords.count' | translate }}: {{ status.passwords }}
    </mat-chip>
  </mat-chip-list>

  <div
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="center start"
    [ngStyle]="{ padding: '10px 0' }"
  >
    <span fxFlex="0 1 auto">
      <canvas #canvas></canvas>
      <div class="mat-caption" [ngStyle]="{ 'text-align': 'center' }">
        {{ 'user.sessions' | translate }}
      </div>
    </span>
  </div>

  <mat-divider fxFlex="100"></mat-divider>

  <h3 fxFlex="100">
    {{ 'platform.title' | translate }}
  </h3>

  <div fxFlex="100" fxLayout="row wrap" *ngIf="serverData$ | async as data">
    <mat-list fxFlex fxFlex.lt-sm="100" fxShow [fxHide]="data.dynamic.length === 0">
      <mat-list-item *ngFor="let unit of data.dynamic">
        <span
          fxFlex="5px"
          [ngStyle]="{ height: '80%', 'background-color': '#cecece', margin: '0 5px 0 0 ' }"
        ></span>
        <span fxFlex="50">{{ unit.name }}</span>
        <span fxFlex="50">{{ unit.value }}</span>
      </mat-list-item>
    </mat-list>

    <mat-list fxFlex fxFlex.lt-sm="100" fxShow [fxHide]="data.static.length === 0">
      <mat-list-item *ngFor="let unit of data.static">
        <span
          fxFlex="5px"
          [ngStyle]="{ height: '80%', 'background-color': '#cecece', margin: '0 5px 0 0 ' }"
        ></span>
        <span fxFlex="50">{{ unit.name }}</span>
        <span fxFlex="50">{{ unit.value }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
