// bootstrap colors
$primary: #007ab7;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
// colors
$black: #000000;
$white: #ffffff;
$darkgrey: #505050;
$grey: #d0d0d0;
$lightgrey: #f0f0f0;
$extralightgrey: #f2f2f2;
$red: #ff0000;
// other vals
$boxPadding: 0.5em;

/* required in case of self hosting of material-design-icons */
	@font-face {
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		src: url(../webfonts/MaterialIcons-Regular.eot); /* For IE6-8 */
		src: local('Material Icons'),
			local('MaterialIcons-Regular'),
			url(../webfonts/MaterialIcons-Regular.woff2) format('woff2'),
			url(../webfonts/MaterialIcons-Regular.woff) format('woff'),
			url(../webfonts/MaterialIcons-Regular.ttf) format('truetype');
	}
	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;  /* Preferred icon size */
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;

		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;

		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;

		/* Support for IE. */
		font-feature-settings: 'liga';

		&:hover {
			cursor: default;
		}
	}
	button {
		.material-icons {
			&:hover {
				cursor: pointer;
			}
		}
	}
/* required in case of self hosting of material-design-icons */

html {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	display: block;
	height: auto!important;
	width: 100%;
	margin: 0;
	padding: 0;
	color: $black;
	font-size: 1.75em;
	overflow-x: hidden;

/*
*	colouring
*/
	.primary { color: $primary; }
	.success { color: $success; }
	.info { color: $info; }
	.warning { color: $warning; }
	.danger { color: $danger; }
	.primary-bg { background: $primary; }
	.success-bg { background: $success; }
	.info-bg { background: $info; }
	.warning-bg { background: $warning; }
	.danger-bg { background: $danger; }

/*
*	DOM elements general
*/
	a {
		text-decoration: none;
		&:hover, &:focus {
			outline: none;
			text-decoration: none;
		}
		&:hover {cursor: pointer}
	}
	.selected {
		background: $grey;
	}
	.spacer {
		flex: 1 1 auto;
	}

	h1:hover, h2:hover, h3:hover, h4:hover, p:hover { cursor: default; }
	h1, h2, h3, h4 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	form {
		padding: $boxPadding;
		legend {
			color: $darkgrey;
			&:hover {
				cursor: default;
			}
		}
		textarea {
			resize: vertical;
		}
	}

	table {
		border-collapse: collapse;
		background: transparent;
		width: 100%;
		line-height: 1.8em;
		border-color: transparent;
		thead {
			display: table-row-group;
			vertical-align: middle;
		}
		tbody {
			display: table-row-group;
			vertical-align: middle;
			border-color: transparent;
		}
		tr {
			display: table-row;
			border: 0;
		}
		td {
			display: table-cell;
			font-size: 1.1em;
			padding: 0.5em;
			&:hover {
				cursor: default;
			}
		}
	}

/*
*	layout
*/

	#spinner {
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		color: $white;
		text-align: center;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.15);

		mat-spinner {
			width: 20vh;
			height: auto!important;
		}
	}

	root {
		min-height: 100vh;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	app-nav {
		width: 100vw;
		height: auto!important;
		flex: 0 1 auto;
	}

	app-info {
		flex: 0 1 auto;
		min-height: 10vh;
		width: 100%;
		display: flex;
		background: transparent;
		justify-content: space-around;
		align-items: center;

		.flex-item {
			flex: 1;
			text-align: center;
			text-decoration: none;
			&:hover{
				background: $lightgrey;
			}

			img {
				min-height: 5vh;
				height: 10vh;
				max-height: 10vh;
				width: auto !important;
				max-width: 24vw;
			}
		}
	}

	app-login, app-initialize {
		flex: 1 1 auto;
		align-self: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	app-summary {
		flex: 1 1 auto;
		align-self: stretch;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding-left: $boxPadding;
		padding-right: $boxPadding;

		#modal {
			z-index: 10;
			padding: 60px 25px 25px 25px;
			color: $white;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0, 0.9);
			transition: 0.5s;

			span {
				&:hover {
					cursor: default;
				}
			}
		}
	}

	app-data {
		flex: 1 1 auto;
		align-self: stretch;
		display: flex;
		flex-direction: column;

		#filters {
			flex: 0 1 auto;
			width: 100%;
			padding: $boxPadding;
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.flex-item {
				flex: 1;
				text-align: center;
				min-width: 150px;
			}

			md-icon {
				&:hover {
					cursor: default;
				}
			}
		}

		#app-data {
			flex: 1 1 auto;
			align-self: stretch;
			min-height: 1em;

			.flex-grid {
				min-height: 100px;
				font-size: 0.85em;

				.flex-grid-item {
					background: $info;
					&.hidden {
						display: none;
					}

					.flex-list {
						padding: 0.5em;
					}
				}
			}
		}
	}
}
