<mat-toolbar>
	<span><h1>{{ 'title' | translate}} <small><mat-slide-toggle [checked]="serviceWorkerRegistered" (click)="toggleServiceWorker()">service worker</mat-slide-toggle></small></h1></span>
	<span class="spacer"></span>
	<span class="mat-toolbar-tools">
		<button (click)="switchNavButtons($event, 'help');" mat-button [ngClass]="{selected: navButtonState.help, inactive: !navButtonState.help}" [fxHide.xs]="true" [fxHide.sm]="true">
			<i class="fas fa-question-circle"></i> {{ 'help' | translate }}
		</button>

		<button [routerLink]="['login']" (click)="switchNavButtons($event, 'login')" mat-button [ngClass]="{selected: navButtonState.login, inactive: !navButtonState.login}" [fxHide.xs]="true" [fxHide.sm]="true" *ngIf="!userService.getUser().token">
			<i class="fas fa-user"></i> {{ 'login' | translate }}
		</button>

		<button [routerLink]="['intro']" (click)="switchNavButtons($event, 'intro')" mat-button [ngClass]="{selected: navButtonState.intro, inactive: !navButtonState.intro}" [fxHide.xs]="true" [fxHide.sm]="true" *ngIf="userService.getUser().token">
			<i class="fas fa-tachometer-alt"></i> {{ 'intro' | translate }}
		</button>
		<button [routerLink]="['data']" (click)="switchNavButtons($event, 'data')" mat-button [ngClass]="{selected: navButtonState.data, inactive: !navButtonState.data}" [fxHide.xs]="true" [fxHide.sm]="true" *ngIf="userService.getUser().token">
			<i class="fas fa-database"></i> {{ 'data' | translate }}
		</button>

		<button (click)="logOut()" mat-button [fxHide.xs]="true" [fxHide.sm]="true" *ngIf="userService.getUser().token">
			<i class="fas fa-user"></i> {{ 'logout' | translate }}
		</button>

		<button mat-button [matMenuTriggerFor]="languageMenu" [fxHide.xs]="true" [fxHide.sm]="true">
			<i class="fas fa-globe"></i> {{ 'language' | translate }}
		</button>
		<mat-menu #languageMenu="matMenu" [fxHide.xs]="true" [fxHide.sm]="true">
			<button mat-menu-item *ngFor="let lang of supportedLanguages" [ngClass]="{selected: isLanguageSelected(lang.key)}" (click)="selectLanguage(lang.key)">{{lang.name}}</button>
		</mat-menu>

		<button mat-button [matMenuTriggerFor]="mobileMenu" [fxHide.md]="true" [fxHide.lg]="true">
			<i class="fas fa-ellipsis-v"></i>
		</button>
		<mat-menu #mobileMenu="matMenu" [fxHide.md]="true" [fxHide.lg]="true">
			<button (click)="switchNavButtons($event, 'help');" mat-menu-item [ngClass]="{selected: navButtonState.help, inactive: !navButtonState.help}">
			<i class="fas fa-question-circle-o"></i> {{ 'help' | translate }}
			</button>
			<hr>

			<button [routerLink]="['login']" (click)="switchNavButtons($event, 'login')" mat-menu-item [ngClass]="{selected: navButtonState.login, inactive: !navButtonState.login}" *ngIf="!userService.getUser().token">
				<i class="fas fa-user"></i> {{ 'login' | translate }}
			</button>

			<button [routerLink]="['intro']" (click)="switchNavButtons($event, 'intro')" mat-menu-item [ngClass]="{selected: navButtonState.intro, inactive: !navButtonState.intro}" *ngIf="userService.getUser().token">
				<i class="fas fa-tachometer"></i> {{ 'intro' | translate }}
			</button>
			<button [routerLink]="['data']" (click)="switchNavButtons($event, 'data')" mat-menu-item [ngClass]="{selected: navButtonState.data, inactive: !navButtonState.data}" *ngIf="userService.getUser().token">
				<i class="fas fa-database"></i> {{ 'data' | translate }}
			</button>

			<hr>

			<button (click)="logOut()" mat-menu-item *ngIf="userService.getUser().token">
				<i class="fas fa-user"></i> {{ 'logout' | translate }}
			</button>
			<hr *ngIf="userService.getUser().token">

			<button mat-button *ngFor="let lang of supportedLanguages" [ngClass]="{selected: isLanguageSelected(lang.key)}" (click)="selectLanguage(lang.key)">{{lang.name}}</button>
		</mat-menu>
	</span>
</mat-toolbar>
