<div fxFlex="100" *ngIf="errorMessage" class="error">
	{{errorMessage}}
</div>

<p fxFlex="100">
	{{ 'description' | translate }} 
	<button mat-icon-button (click)="toggleModal()" matTooltip="{{ 'diag' | translate }}">
		<mat-icon class="material-icons-fas" fontSet="fas" fontIcon="fa-cogs"></mat-icon>
	</button>
</p>

<span fxFlex="100">
	<nvd3 #chart [options]="chartOptions" [data]="appUsageData"></nvd3>
</span>

<span fxFlex="100" fxFlexAlign="stretch" fxLayout="row wrap" fxLayoutAligh="start stretch">
	<span fxFlex class="center-text">
		{{ 'initialized' | translate }}: {{userStatus.initialized}}
	</span>
	<span fxFlex class="center-text">
		{{ 'encryption' | translate }}: {{userStatus.encryption}}
	</span>
	<span fxFlex class="center-text">
		{{ 'passwords_count' | translate }}: {{userStatus.passwords}}
	</span>
</span>

<span id="modal" *ngIf="showModal" fxLayout="row wrap" fxLayoutAligh="start stretch">

	<span fxFlex="100" fxLayout="row" fxLayoutAligh="start stretch">
		<h4 fxFlex="1 1 auto">{{ 'diag' | translate }}</h4>
		<span fxFlex="0 1 auto">
			<button mat-icon-button (click)="toggleModal()">
				<mat-icon class="material-icons">close</mat-icon>
			</button>
		</span>
	</span>

	<span fxFlex="100" fxLayout="row wrap" fxLayoutAligh="start stretch">
		<span fxFlex="100" *ngFor="let unit of serverData.static" fxLayout="row wrap" fxLayoutAligh="center stretch">
			<span fxFlex="50">{{unit.name}}</span>
			<span fxFlex="50">{{unit.value}}</span>
			<hr fxFlex>
		</span>
		<span fxFlex="100" *ngFor="let unit of serverData.dynamic" fxLayout="row wrap" fxLayoutAligh="start stretch">
			<span fxFlex="50">{{unit.name}}</span>
			<span fxFlex="50">{{unit.value}}</span>
			<hr fxFlex>
		</span>
	</span>

</span>
