<div fxFlex="100" *ngIf="errorMessage" class="error">
	{{errorMessage}}
</div>

<form fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxFlayoutGap="10px" [formGroup]="initForm" (ngSubmit)="submitForm()" novalidate>

	<legend fxFlex="100">
		<h2>{{ 'initialization' | translate }}</h2>
	</legend>

	<mat-form-field fxFlex="100">
		<input matInput type="text" name="name" [formControl]="initForm.controls.name" placeholder="{{ 'name' | translate }}" required />
		<mat-icon matSuffix class="material-icons">email</mat-icon>
		<mat-error *ngIf="initForm.controls.name.invalid">
			invalid value, required: email, at least 3 characters long
		</mat-error>
	</mat-form-field>

	<mat-form-field fxFlex="100">
		<input matInput type="text" name="email" [formControl]="initForm.controls.email" placeholder="{{ 'email' | translate }}" required />
		<mat-icon matSuffix class="material-icons">email</mat-icon>
		<mat-error *ngIf="initForm.controls.email.invalid">
			invalid value, required: valid email
		</mat-error>
	</mat-form-field>

	<mat-form-field fxFlex="100">
		<input matInput type="text" name="password" [formControl]="initForm.controls.password" placeholder="{{ 'password' | translate }}" required />
		<mat-icon matSuffix class="material-icons">lock</mat-icon>
		<mat-error *ngIf="initForm.controls.password.invalid">
			invalid value, required: at least 1 character
		</mat-error>
	</mat-form-field>

	<button fxFlex mat-button type="submit" [disabled]="initForm.pristine || initForm.invalid" [attr.aria-label]="submit">
		{{ 'submit' | translate }}
	</button>
</form>
