<div id="filters">
	<span class="flex-item">
		<mat-form-field>
			<input matInput type="text" name="searchQuery" [(ngModel)]="searchQuery" placeholder="{{ 'name' | translate }}" />
			<mat-icon matSuffix class="material-icons">search</mat-icon>
		</mat-form-field>
	</span>
	<span class="flex-item">
		<mat-form-field fxFlex>
			<input matInput type="text" name="pickedDate" [matDatepicker]="datePicker" [(ngModel)]="pickedDate" placeholder="{{ 'pick_a_date' | translate }}" (click)="showDatePicker()" readonly="true"/>
			<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
			<mat-datepicker #datePicker touchUi="true"></mat-datepicker>
		</mat-form-field>
	</span>
	<span class="flex-item">
		<mat-form-field>
			<mat-select type="select" name="sortByCriterion" [(ngModel)]="sortByCriterion" floatPlaceholder="auto">
				<mat-option value="">None</mat-option>
				<mat-option value="role">Role</mat-option>
				<mat-option value="registered">Registered</mat-option>
			</mat-select>
			<mat-placeholder>
				<mat-icon matSuffix class="material-icons">sort</mat-icon> {{ 'sort_by' | translate }}
			</mat-placeholder>
		</mat-form-field>
	</span>
</div>
<div id="dashboard-data">
	<h3>Users</h3>
	<span fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" class="flex-grid">
		<span *ngFor="let user of usersList; let j = index" (mouseenter)="mouseEntered($event)" (mouseleave)="mouseLeft($event)" fxFlex fxFlex.xs="1" fxLayout="row" fxHide="{{hideElement(j)}}" class="flex-grid-item">
			<span fxFlex="33" fxLayout="column" class="flex-list">
				<div>id: {{user.id}}</div>
				<div>{{user.firstName}}</div>
				<div>{{user.lastName}}</div>
				<div>role: {{user.role}}</div>
			</span>
			<span fxFlex fxLayout="column" class="flex-list">
				<div>{{user.email}}</div>
				<div>city: {{user.city}}</div>
				<div>country: {{user.country}}</div>
				<div>registered: {{user.registered | date}}</div>
				<div>last login: {{user.lastLogin | date}}</div>
			</span>
		</span>
	</span>
</div>
