<div class="component-container">

	<div *ngIf="errorMessage" class="danger-bg">
		{{errorMessage}}
	</div>

	<form id="login-form" fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
		<legend>{{ 'login_instructions' | translate }}</legend>
		<mat-form-field fxFlex>
			<input matInput type="text" name="email" [formControl]="loginForm.controls.email" placeholder="{{ 'email' | translate }}" required />
			<mat-icon matSuffix class="material-icons">email</mat-icon>
			<mat-error *ngIf="loginForm.controls.email.invalid">
				invalid value, required: email, at least 7 characters long
			</mat-error>
		</mat-form-field>
		<mat-form-field fxFlex>
			<input matInput type="text" name="password" [formControl]="loginForm.controls.password" placeholder="{{ 'password' | translate }}" required />
			<mat-icon matSuffix class="material-icons">lock</mat-icon>
			<mat-error *ngIf="loginForm.controls.password.invalid">
				invalid value, required: at least 1 character
			</mat-error>
		</mat-form-field>
		<span *ngIf="userService.getUser().email"><a (click)="resetForm()">{{ 'forget_my_address' | translate }}</a></span>
		<button mat-button type="submit" [disabled]="loginForm.pristine || loginForm.invalid" [attr.aria-label]="submit">
			{{ 'submit' | translate }}
		</button>
	</form>
</div>
